body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
    
}

.container {
    position: relative;
    display: flex;
    min-height: 90vh;

    &__title {
        left: 50%;
        transform: translateX(-50%);
    }

    @include respond(tab-port) {
        flex-direction: column;
    }
}

.error {
    position: absolute;
    color: $color-tertiary;
    font-size: $default-font-size;
    font-weight: 700;
}

.side-menu {
    width: 25%;
    border-right: 2px solid $color-primary-intermediate;
    min-height: 100%;
    background-color: $color-primary-light;
    padding: 0 24px;

    &__title {
        font-weight: 600;
        margin-bottom: 1rem;
    }

    & .form {
        margin-top: 2rem;
    }

    @include respond(tab-port) {
        width: 100%;
    }
}

.content {
    position: relative;
    background-color:$color-primary;
    width: 75%;
    padding: 5rem;

    @include respond(tab-port) {
        width: 100%;
    }
}