$color-primary:#F6F8FA;
$color-primary-light: white;
$color-primary-intermediate: #E1E4E8;
$color-primary-dark: #24292E;

$color-secondary-light: #B3D1F3;
$color-secondary: #0af;
$color-secondary-dark: #0366D6;

$color-tertiary: darkred;

$color-green: #2C974B;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem;