/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800]:  Normal Style Applies
1800px+ :       Big Desktop

/* $breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #0366D6;
  color: #B3D1F3; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.container {
  position: relative;
  display: flex;
  min-height: 90vh; }
  .container__title {
    left: 50%;
    transform: translateX(-50%); }
  @media only screen and (max-width: 56.25em) {
    .container {
      flex-direction: column; } }

.error {
  position: absolute;
  color: darkred;
  font-size: 1.6rem;
  font-weight: 700; }

.side-menu {
  width: 25%;
  border-right: 2px solid #E1E4E8;
  min-height: 100%;
  background-color: white;
  padding: 0 24px; }
  .side-menu__title {
    font-weight: 600;
    margin-bottom: 1rem; }
  .side-menu .form {
    margin-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .side-menu {
      width: 100%; } }

.content {
  position: relative;
  background-color: #F6F8FA;
  width: 75%;
  padding: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .content {
      width: 100%; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border-radius: 5px;
  transition: all .2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn--primary {
  background-color: #2C974B;
  color: #fff; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.form {
  transition: all 3s; }
  .form__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: #000;
    padding: .5rem 1rem;
    border-radius: 2px;
    border: 1px solid #E1E4E8;
    border-radius: 5px;
    display: block;
    width: 90%;
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input::-webkit-input-placeholder {
      color: #E1E4E8; }
    .form__input:focus {
      outline: none;
      border: 1px solid #0af;
      -moz-box-shadow: 0px 0px 15px rgba(3, 102, 214, 0.5);
      -webkit-box-shadow: 0px 0px 15px rgba(3, 102, 214, 0.5);
      box-shadow: 0px 0px 15px rgba(3, 102, 214, 0.5); }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    display: block;
    transition: all .3s;
    color: #000; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.results {
  position: relative;
  background-color: white;
  border: 1px solid #E1E4E8;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 5rem;
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .results {
      font-size: 1.2rem; } }
  .results__link {
    text-decoration: none;
    position: absolute;
    margin-left: .5rem;
    font-weight: 600;
    color: #0366D6; }
  .results__item {
    display: block;
    margin: 1rem; }
    .results__item-icon {
      height: 2.5rem; }
    .results__item--individual {
      border: 1px solid #E1E4E8;
      border-radius: 5px;
      padding: 2rem;
      margin-left: 5rem;
      margin-top: 2rem; }
  .results__moreInfo {
    position: relative; }
    .results__moreInfo-avatar {
      position: absolute;
      top: 0;
      right: 0;
      height: 5rem;
      border-radius: 50%;
      border: 1px solid #E1E4E8; }
      @media only screen and (max-width: 56.25em) {
        .results__moreInfo-avatar {
          height: 3.5rem;
          bottom: -1rem;
          top: unset; } }
    .results__moreInfo-title {
      font-weight: 600; }

.user {
  position: relative;
  background-color: white;
  border: 1px solid #E1E4E8;
  border-radius: 5px;
  height: 10rem;
  padding: 1rem; }
  .user__info {
    position: absolute;
    left: 7em;
    top: 50%;
    transform: translateY(-50%); }
  .user__image {
    height: 5rem;
    border-radius: 50%;
    display: block; }
  .user__buttons {
    position: relative;
    float: right; }
    .user__buttons button {
      margin-left: .5rem;
      border: 1px solid #E1E4E8; }

.header {
  padding: 1rem;
  position: relative;
  background-color: #24292E; }
  .header__logo {
    margin-left: 3.5rem;
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #F6F8FA;
    font-size: 2rem; }
