.btn {
    &, 
    &:link, 
    &:visited {
        text-decoration: none;
        padding: 1rem;
        display: inline-block;
        border-radius: 5px;
        transition: all .2s;
        position: relative;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .5);
    }
    
    &--primary {
        background-color: $color-green;
        color: $color-white;
    }

}