.form {
    transition: all 3s;

    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        color: #000;
        padding: .5rem 1rem;
        border-radius: 2px;
        border: 1px solid #E1E4E8;
        border-radius: 5px;
        display: block;
        width: 90%;
        transition: all .2s;

        @include respond(tab-port) {
            width: 100%;
        }
        
        &::-webkit-input-placeholder {
            color: $color-primary-intermediate;
        }

        &:focus {
            outline: none; 
            border: 1px solid $color-secondary; 
            -moz-box-shadow: 0px 0px 15px rgba($color-secondary-dark, 0.5);
            -webkit-box-shadow: 0px 0px 15px rgba($color-secondary-dark,.5);
            box-shadow: 0px 0px 15px rgba($color-secondary-dark,.5);
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: left;
        display: block;
        transition: all .3s;
        color: $color-black;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

}