.header {
    // height: 9.2vh;
    padding: 1rem;
    
    position: relative;
    background-color: $color-primary-dark;
    
    &__logo {
        // position: relative;
        // top: 50%;
        // transform: tkranslateY(-50%);
        // height: 70%;
        // filter: invert(.9);
        margin-left: 3.5rem;
        height: 4rem;
    }
    
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // text-align: center;
        text-transform: uppercase;
        color: $color-primary;
        font-size: 2rem;
    }
    
}