.header {
    padding: 1rem;
    
    position: relative;
    background-color: $color-primary-dark;
    
    &__logo {
        margin-left: 3.5rem;
        height: 4rem;
    }
    
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: $color-primary;
        font-size: 2rem;
    }
    
}